@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-space-grotesk);
  --font-display: var(--font-fraunces);
  --color-lime-200: #ddf0a7;
  --color-slate-800: #1f3847;
}

body {
  font-family: var(--font-sans);
}

.font-display {
  font-optical-sizing: none;
  font-variation-settings: "opsz" 9;
  letter-spacing: -0.02em;
}
